* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

	font-family: sans-serif;
}

button {
	appearance: none;
	background: none;
	outline: none;
	border: none;

	cursor: pointer;
}

body {
	background: linear-gradient(27deg, rgb(28, 65, 253) 0%, rgb(91, 25, 255) 45%, rgba(143,10,231,1) 100%);
	color: #fff;
}

main {
	min-height: 100vh;
	display: flex;
	justify-content: center;
	padding: 2rem 1.5rem;
}

.app {
	width: 100%;
	max-width: 768px;
}

.app header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 1rem;
}

.app header h1 {
	color: #fff;
	font-size: 24px;
	font-weight: 400;
}

.app header button {
	display: flex;
    align-items: center;
    background: linear-gradient(27deg, rgba(63,94,251,1) 0%, rgba(96,45,228,1) 45%, rgba(143,10,231,1) 100%);
    color: #fff;
    font-size: 20px;
    outline: 0;
    border-radius: 40px;
    border-bottom: 2px solid rgb(91, 7, 146);
    border-right: 2px solid rgb(91, 7, 146); 
    padding: 15px 25px;
    margin: 30px 0 20px;
}

.app header button:active{
	 border-bottom: 2px solid rgb(71, 0, 71);
	border-right: 2px solid rgb(39, 0, 90);
	
}

.item {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 1.5rem;
	border-radius: 1rem;
	background-color: #1e223d;
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
	margin-bottom: 1.5rem;
}

.item:last-of-type {
	margin-bottom: 0;
}

.item input[type="checkbox"] {
	margin-right: 1rem;
}

.item input[type="text"] {
	appearance: none;
	background: none;
	border: none;
	outline: none;
	font-weight: 400;
	color: #fff;
	font-size: 20px;
	flex: 1 1 0%;
	margin-right: 1rem;
}

.item input[type="text"]:not(:disabled) {
	border-bottom: 2px solid #fff;
}

.item.complete {
	opacity: 0.7;
}

.item.complete input[type="text"] {
	text-decoration: line-through;
}

.item:hover,
.item:focus-within {
	outline: 2px solid #fff;
}

.actions button {
	color: #CCC;
	margin-right: 1rem;
	opacity: 0.8;
	transform: 0.1s;
}

.actions button.remove-btn {
	color: crimson;
}

.actions button:hover {
	opacity: 1;
}

.actions button:last-of-type {
	margin-right: 0;
}
